html, body {height:100%; width:100%;}
* { box-sizing: border-box; margin: 0; padding: 0;}
body { font: 18px Helvetica, Arial;}

canvas, #lobby, #chat, form { display:block; position:absolute;}
ul {position:absolute; width:100%; overflow-y:scroll;}
#messages { list-style-type: none; margin: 0; padding: 0; top:2em; bottom:43px;}
#messages li { padding: 5px 10px;}
#messages li:nth-child(odd) { background: #eee; }
#messages li span:nth-child(3n+2) { font-weight: 600;}
.menu_info {background: #eee; width:100%; overflow-y:scroll; display:none; top:2em; bottom:2em; position:absolute; padding:10px;}

form { background: black; width: 100%; bottom:0; border:3px solid black; }
form input { border: none; width:80%; height:2.5em; margin-right: 0.5%; overflow-y:scroll; border-radius:5px; padding:0px 5px;}
form button { width:19.5%; background: #ccc; border: none; overflow:hidden; height:2.5em; border-radius:5px; }

@media screen and (orientation:portrait) {
  #lobby, canvas {width:100%; height:70%;}
  #chat {bottom:0; width:100%; height:30%;}
}
@media screen and (orientation:landscape) {
  #lobby, canvas {width:70%; height:100%; }
  #chat {right:0; width:30%; height:100%;}
}


/* Lobby */
div div{text-align: center;}
.button, .refresh, .return_icon , .menu_info_icon {cursor:pointer;}
#lobby {overflow-y:scroll; background-color:#333;}
.el { float:left; height:100%; padding:5px; overflow:hidden; }
.clear { clear: both; }
.row {width:100%; height:2em; border-top:3px #971d20 solid; background-color:white; }
.new {border-bottom:3px #971d20 solid; padding-left:5%; padding-right:15%;}
.el:nth-child(1){ width:5%; }
.el:nth-child(2){ width:75%; }
.el:nth-child(3){ width:15%; }
.el:nth-child(4){ width:5%; }
.gameinfo {
  display:none;
  background-color:white;
}
.join { float:right; width:15%; padding:5px; background-color:#ccc; border-radius: 5px;}
.map { height:10em; }
.menu {box-sizing:content-box; width:100%; height:2em; background-color: #ccc; display: table; table-layout: fixed;}
.menu .menu_item {display: table-cell; height:100%;}
.menu_item i {padding:5px;}

/* dialog */
#dialog input, select { width:200px; margin:0px 20px;}


