html, body {height:100%; width:100%;}
* { box-sizing: border-box; margin: 0; padding: 0;}
body { font: 18px Helvetica, Arial;}

canvas, #lobby, #chat, form { display:block; position:absolute;}
ul {position:absolute; width:100%; overflow-y:scroll;}
#messages { list-style-type: none; margin: 0; padding: 0; top:2em; bottom:43px;}
#messages li { padding: 5px 10px;}
#messages li:nth-child(odd) { background: #eee; }
#messages li span:nth-child(3n+2) { font-weight: 600;}

form { background: black; width: 100%; bottom:0; border:3px solid black;}
form input { border: none; padding: 10px; width:80%; margin-right: 0.5%; overflow-y:scroll; border-radius:5px;}
form button { width:19.5%; background: #ccc; border: none; overflow:hidden; padding: 10px; border-radius:5px; }

@media screen and (orientation:portrait) {
  #lobby, canvas {width:100%; height:70%;}
  #chat {bottom:0; width:100%; height:30%;}
}
@media screen and (orientation:landscape) {
  #lobby, canvas {width:70%; height:100%; }
  #chat {right:0; width:30%; height:100%;}
}


/* Lobby */
div div{text-align: center;}
.material-icons, .button {cursor:pointer;}
#lobby {overflow-y:scroll;}
.el { float:left; height:100%; padding:5px; border:1px solid black; overflow:hidden;}
.clear { clear: both; }
.row {width:100%; height:2em;}
.el:nth-child(1){ width:5%; }
.el:nth-child(2){ width:80%; }
.el:nth-child(3){ width:10%; }
.el:nth-child(4){ width:5%; }
.info {
  display:none;
  border:1px solid black;
}
.join { float:right; border:1px solid black; width:15%; padding:5px;}
.map { height:10em; }
.menu {width:100%; height:2em; background-color: #ccc; padding:5px;}


